/* Navbar.css */

.navbar {
  background-color: #181818;
  color: #e0e0e0;
  padding: 10px 20px;
  border-bottom: 1px solid #282828;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.back-button {
  color: #e0e0e0;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  background: none;
}

.logo {
  font-size: 1.3em;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.navbar-links button {
  color: #e0e0e0;
  text-decoration: none;
  margin-left: 15px;
  font-size: 1em;
  border: none;
  background: none;
  cursor: pointer;
}

.user-icon {
  font-size: 1.3em;
}